meta charset='UTF-8'

meta content='NOYDIR' name='ROBOTS'
meta content='NOODP' name='ROBOTS'

link media='handheld' rel='alternate'
meta name="viewport" content="width=device-width,initial-scale=1.0"

- set_meta_tags icon: '/favicon.png'

= display_meta_tags(default_meta_tags)
